<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Win</th>
      <th>Lose</th>
      <th>Draw</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @account.each do |account| %>  
        <% @user = User.find_by(:id => account.id) %>
        <tr>
        <td><%= account.id %></td>
        <td><%= account.email %></td>
        <td><%= @user[:win] %></td>
        <td><%= @user[:lose] %></td>
        <td><%= @user[:draw] %></td>
            
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Message', rooms_show_path %>
<%= link_to 'New User',new_user_path %>
