<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @account.id %>  
</p>


<p>
  <strong>Name:</strong>
  <%= @user.name %>
  <%= @account.email %>
</p>

<p>
  <strong>Pass:</strong>
  <%= @account.password %>  
</p>


<p>
  <strong>Score:</strong>
</p>
<p>
  <strong>Win:</strong>
</p>
<p>
  <strong>Draw:</strong>
</p>
<p>
  <strong>Lose:</strong>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
