<br><br><br><br>
<div align="center">
    <h1>Home</h1>
    <br>

<%#= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<html>
<body>
<header>
    <nav>
        <% if account_signed_in? %>
            <table>
                <tr>
                    <td><%= link_to 'Change Profile', edit_account_registration_path %></td>
                    <td><%= link_to 'Log Out', destroy_account_session_path, method: :delete %></td>
                </tr>
            </table>
            <br>
            <table>
                <tr>
                    <td><%= current_account.email %></td>
                    <td>Win:<%= current_account.win %></td>
                    <td>Lose:<%= current_account.lose %></td>
                    <td>Draw:<%= current_account.draw %></td>
                    <td>rate:<%= current_account.rate %></td>
                </tr>
            </table>
        <% else %>
            <table>
                <tr>
                    <td><%= link_to 'Sign Up', new_account_registration_path %></td>
                    <td><%= link_to 'Log In', new_account_session_path %></td>
                </tr>
            </table>
        <% end %>
    </nav>
</header>

<br>
<br>
<h3><%= link_to 'JanKen', rooms_show_path %></h3>

<p>
<table>
  <div align="center">------------------- User List -------------------</div>
  <br>
  <thead>
    <tr>
      <th>Ranking</th>
      <th><div align="center">Email</div></th>
      <th><%= sort_link(@search, :win,'-WIN-') %></th>
      <th><%= sort_link(@search, :lose,'LOSE-') %></th>
      <th><%= sort_link(@search, :draw,'DRAW-') %></th>
      <!-- <th>試合回数<th> -->
      <th><%= sort_link(@search, :rate,'RATE-') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% count = 1 %>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= count %></td>
        <td><%= account.email %></td>
        <td><%= account.win %></td>
        <td><%= account.lose %></td>
        <td><%= account.draw %></td>
        <!-- <td><%#= account.lose + account.draw + account.win  %></td> -->
        <td><%= account.rate  %></td>
      </tr>
      <% count+= 1 %>
    <% end %>
  </tbody>
</table>

</body>
</html>
</div>
