<h1>Home</h1>

<%#= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<html>
<body>
<header>
    <nav>
        <% if account_signed_in? %>
            <%= link_to 'プロフィール変更', edit_account_registration_path %>
            <%= link_to 'ログアウト', destroy_account_session_path, method: :delete %>
                  <td><%= current_account.email %></td>
                  <td><%= current_account.win %>勝:</td>
                  <td><%= current_account.lose %>負:</td>
                  <td><%= current_account.draw %>分:</td>
                  <td>rate<%= current_account.rate %></td>

        <% else %>
            <%= link_to 'サインアップ', new_account_registration_path %>
            <%= link_to 'ログイン', new_account_session_path %>
        <% end %>
    </nav>
</header>


</br>

<%= link_to '対戦する', rooms_show_path %>

<p>

<table>
  <caption align="left">ユーザ一覧</caption>
  <thead>
    <tr>
      <th>Ranking</th>
      <th>Email</th>
      <th><%= sort_link(@search, :win,'WIN') %></th>
      <th><%= sort_link(@search, :lose,'LOSE') %></th>
      <th><%= sort_link(@search, :draw,'DRAW') %></th>
      <!-- <th>試合回数<th> -->
      <th><%= sort_link(@search, :rate,'RATE') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% count = 1 %>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= count %></td>
        <td><%= account.email %></td>
        <td><%= account.win %></td>
        <td><%= account.lose %></td>
        <td><%= account.draw %></td>
        <!-- <td><%#= account.lose + account.draw + account.win  %></td> -->
        <td><%= account.rate  %></td>
      </tr>
      <% count+= 1 %>
    <% end %>
  </tbody>
</table>

</body>
</html>
