<h1>Home</h1>

<%#= link_to "Sign out", destroy_user_session_path, :method => :delete %>
<html>
<body>

    <% if account_signed_in? %>
            <%= link_to 'プロフィール変更', edit_account_registration_path %>
            <%= link_to 'ログアウト', destroy_account_session_path, method: :delete %>
            
            <table>
                <thead>
                    <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Win</th>
                    <th>Lose</th>
                    <th>Draw</th>
                    <th colspan="4"></th>
                    </tr>
                    <tr>
                        <th><%= current_account.id %></th>
                        <th><%= current_account.email %></th>
                        <th><%= @user[:win] %></th>
                        <th><%= @user[:lose] %></th>
                        <th><%= @user[:draw] %></th>
                    </tr>
                </thead>
            </table>
        <% else %>
            <%= link_to 'サインアップ', new_account_registration_path %>
            <%= link_to 'ログイン', new_account_session_path %>
        <% end %>

<%= link_to  'ユーザ一覧',  users_path %>
</body>
</html>
<p>Find me in app/views/home/index.html.erb</p>
