<h1>Rooms#show</h1>
<%= link_to 'ホームページ', root_path %>
<p>

  <table>
    <tr>
      <td>
        <input type="radio" value="グー" data-behavior="room_speaker" id="gu" name="te">
        <label for = "gu"><img src="<%= asset_path "gu.png" %>" alt="gu" width="100" height="100"/></label>
      </td>
      <td>
        <input type="radio" value="チョキ" data-behavior="room_speaker" id="cyoki" name="te">
        <label for ="cyoki"><img src="<%= asset_path "cyoki.png" %>" alt="cyoki" width="100" height="100" ></label>
      </td>
      <td>
        <input type="radio" value="パー" data-behavior="room_speaker" id="pa" name="te">
        <label for ="pa"><img src="<%= asset_path "pa.png" %>" alt="pa" width="100" height="100" ></label>
      </td>
      <td>
        選択したらenterを押してください
      </td>
    </tr>
  </table>

</br>
<!-- <form>
<label> message: </label><br>
<input type="text" data-behavior="room_speaker">
</form> -->

  <div id="messages">
    <%= render @lines %>
  </div>
