<h1>Rooms#show</h1>

<div id="messages">
  <table>
    <tr>
      <th>Account_id</th><th>content</th>
    </tr>
    <%= render @lists %>
  </table>
</div>
<form>
    <label> message: </label><br>
    <input type="text" data-behavior="room_speaker">
</form>

<% if  @lists.count ==2 %>
  <tr>
    <th>accout1:</th>
    <th><%= @account1.email %></th>
  </tr>
  <tr>
    <th>account2:</th>
    <th><%= @account2.email %></th>
  </tr>
<% end %>

</br>
<%= flash[:user1] %>
<%= flash[:user2] %>
<%= flash[:result] %>
<p>Find me in app/views/rooms/show.html.erb</p>
